
.AchiManage h2{
    position: relative;
    left: 20%;
    color: #00cd00;
    width: 200px;
}

.list{
    position: relative;
    left: 25%;
    border: 1px solid white ;
    width: 820px;
    padding:5px;
    background-color: white;
}

.inputitem{
    margin-top: 10px;
    margin-bottom: 10px;
}

