.grade-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #20b18a;
}
.grade-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}