.header-nav{
    /*navigation 航行 导航*/
    display: flex;
    /*justify-content属性定义了项目在主轴上的对齐方式*/
    justify-content: center;
    align-items: center;
    /*flex-direction属性决定主轴的方向（即项目的排列方向） row（默认值）：主轴为水平方向，起点在左端*/
    flex-direction: row;
    color:#fff;
    font-size:20px;
}
.nav1:hover{
    /*background-color: #636363;!*背景颜色变黑*!*/
    color: blue;/*当背景变色时，字体变白*/
    cursor: pointer;
 }
.nav2:hover{
    cursor: pointer;
}
.header-background{
    /*Flex是Flexible Box的缩写，意为”弹性布局”，用来为盒状模型提供最大的灵活性*/
    display:flex;
    height:110px;
    background:#1abc9c;
    align-items:center;
    /*align-items 属性定义flex子项在flex容器的当前行的侧轴（纵轴）方向上的对齐方式。center 居中*/
}
.width_25{
    width: 25%;
}
.logo{
    position:relative;
    left:0px;
    top:0px;
    z-index: 1;

}
