.selected-item{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin-bottom: 45px;
}
.item-logo{
    background: #fff;
    padding: 0 10px 10px 10px;
    text-align: center;
    height: 170px;
    width: 190px;
}
.item-logo:hover{
    background-color: #636363;/*背景颜色变黑*/
    color: white;/*当背景变色时，字体变白*/
}
.item-title{
    margin-top: 10px;
}
.item-time>p{
    margin: 0;
}
.nav2:hover{
    cursor: pointer;
}