.footer{
    position: fixed;
    /*下移一整个页面高度，到了最下边，但是超出了你能看到的页面*/
    /*top 属性规定元素的顶部边缘。该属性定义了一个定位元素的上外边距边界与其包含块上边界之间的偏移*/
    top: 100%;
    /*Transform属性应用于元素的2D或3D转换。这个属性允许你将元素旋转，缩放，移动，倾斜等。*/
    /*translateY 默认向下移动 translateY(-100%) 向上移动和footer这个元素高度值相同的距离*/
    /*translateX 默认向右移动*/
    transform: translateY(-100%);

    background-color: #1abc9c;
    /*clear:both;*/
    text-align:center;
    /*height: 50px;*/
    height: 5%;
    width: 100%;
}