.timetable table{
    font-size: 15px;
    width: 80%;
    height: 500px;
    position: relative;
    left: 60px;
    border-style:solid;
    background-color: white; 
}
.timetable tr,th{
	text-align:center;
    
}
.timetable td,th{
	width: 40px;
    margin-right:5px;
}
.timetable th{
	background-color: darkorchid;

}
#web{
	background-color: orange;
}
#database{
	background-color: deepskyblue;
}
#computer{
	background-color: hotpink;
}
#algorithm{
	background-color: springgreen;
}
#software{
	background-color: thistle;
}
