.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color:#fff;
    font-size:20px;
}
.header-background{
    display:flex;
    height:100px;
    background:#20b18a;
    align-items:center;
}
.width12{
    width: 12.5%;
}
.width25{
    width: 25%;
}

.header-sub{
    width: 100%;
    margin-left:-15px;
}
.header-sub-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-sub-right{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-sub-title{
    margin-left: 30px;
    font-size: 25px;
    color:#808080;
}
.color-block{
    background:#20b18a;
    width: 60px;
    height: 60px;
}

.header-nav:hover{
    cursor: pointer;
    color: blue;
}