.header-nav{
    /*navigation 航行 导航*/
    display: flex;
    /*justify-content属性定义了项目在主轴上的对齐方式*/
    justify-content: center;
    align-items: center;
    /*flex-direction属性决定主轴的方向（即项目的排列方向） row（默认值）：主轴为水平方向，起点在左端*/
    flex-direction: row;
    color:#fff;
    font-size:20px;
}
.width25{
    width: 25%;
}