.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-search{
    margin-right: 20px;
}
.search-addon{
    height:30px;
    width:35px;
    background:#20b18a;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:#fff;
}
.search-input{
    height:30px;
    width:150px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
}
.search-input:focus{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: none;
    outline: none;
}

.active{
    background: #20b18a;
}