
/*!*学生学号输入栏*!*/
/*.s_i_s_1{*/
    /*position:absolute;*/
    /*top:75px;*/
    /*left:50px;*/
/*}*/
/*!*三个按钮*!*/
/*.s_i_s_button{*/
    /*position:absolute;*/
    /*top:0px;*/
/*}*/

/*成绩栏*/
.s_i_s_t {
    /*position: absolute;*/
    /*top: 300px;*/
    margin-top: 50px;
    height: 200px;
    width: 500px;
}
