.margin-top_20px{
    margin-top:20px;
}
.margin-top_50px{
    margin-top:50px;
}
/*成绩单*/
.s_i_s_t {
    /*position: absolute;*/
    /*top: 300px;*/
    margin-top: 50px;
    height: 200px;
    width: 500px;
}
