/*<之后有了服务器后删掉>*/
ul{
      list-style-type: none;
      /*ist-style-type:none - 移除列表前小标志。一个导航栏并不需要列表标记 */
      /*移除浏览器的默认设置将边距和填充设置为0 */
      margin: 0;
      /*padding 简写属性在一个声明中设置所有填充属性。该属性可以有1到4个值。 */
      padding: 0;

  }
/*链接块*/
.Log3{
    width: 10%;
}
.a {
    /*display:block - 显示块元素的链接，让整体变为可点击链接区域（不只是文本），它允许我们指定宽度*/
    display: block;
    color: #000000;/*更改字体颜色*//*目前的问题是：链接的颜色改不了*/
    padding: 8px 16px;
    text-decoration: none;
}
/* 鼠标移动到选项上修改背景颜色 */
.a:hover {
    background-color: #636363;/*背景颜色变黑*/
    color: white;/*当背景变色时，字体变白*/
}
/*<之后有了服务器后删掉/>*/


/*背景图片*/
.Log0{
    /*background-image:url('../images/2.jpg');*/
    /*background-size:100% 100%;*/
    /*background-repeat:no-repeat;*/
    /*background-position:center;*/
    /*height:1000px;*/
    /*width:1200px;*/

}
/*标题（登录界面四个字）*/
.Log1{color: #ffcb1c;
    position:fixed;
    top:200px;
    right:600px;


}
/*信息输入栏块*/
.Log2{
    position:fixed;
    top:400px;
    right:550px;

}

