/*侧栏*/

.NavSide-nav:hover{
    background-color: #636363;/*背景颜色变黑*/
    color: white;/*当背景变色时，字体变白*/
}
.NavSide-nav{
    /*navigation 航行 导航*/
    margin:20px 0;
    display: flex;
    /*justify-content属性定义了项目在主轴上的对齐方式*/
    justify-content: center;
    /*align-items: center;*/
    /*flex-direction属性决定主轴的方向（即项目的排列方向） row（默认值）：主轴为水平方向，起点在左端*/
    flex-direction: row;
    color: #1abc9c;
    font-size:20px;
}
.NavSide_h2{
    display: flex;
    /*justify-content属性定义了项目在主轴上的对齐方式*/
    justify-content: center;
}