/*一整个块*/
.t_i_c{
    height:100px;
    width:400px;
    position:absolute;
    /*top:400px;*/
    top:100px;
    left:0px;

}
/*开课申请一系列信息*/
.t_i_c_1{
    position:absolute;
    top:100px;
    left:0%;
}
/*同意按钮*/
.t_i_c_button{
    position:absolute;
    top:0px;
}