#logo{
    margin-left: 60px;
    font-size: 60px;
    color: #fff;
}

.top{
    height:110px;
    background:#1abc9c;
    display:flex;
    align-items: center;
}
#welcome{
    font-size: 25px;
    color: #808080;
}

#timetable{
    float: right;
    font-size: 15px;
    color: #00cd00;
    margin-left: 30px;
    cursor: pointer;
}

#newclass{
    float: right;
    font-size: 15px;
    color: #00cd00;
    cursor: pointer;
}


.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color:#fff;
    font-size:20px;
}

.courselist{
    width: 30%;
    float: left;
    margin: 50px;
}